<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="header.component.css">
    <title>Header Ejemplo</title>
</head>
<body>
    <header>
        <h1>Padel IA Analitycs </h1>
        <nav>
            <ul>
                <li><a routerLink="">Inicio</a></li>
                <li><a routerLink="/articulos">Articulos</a></li>
                <li><a routerLink="/indice">Indice</a></li>
                <li><a routerLink="/filtro">Filtro</a></li>
                <li><a routerLink="/clientes">Clientes</a></li>
            </ul>


            <button routerLink="/articulos/nuevo" class="btn btn-success">Añadir articulo</button>
        </nav>
    </header>
</body>
</html>

