<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="inicio.component.css">
    <title>Página de Inicio</title>
</head>
<body>
    <section id="bienvenida">
        <h2>Bienvenidos a Padel IA Analitycs</h2>
        <p>Explora y descubre todo lo que tenemos para ofrecerte.</p>
    </section>

    <section id="sobre-nosotros">
        <h2>Sobre Nosotros</h2>
        <p>Somos una empresa dedicada a el videoanalisis de tus partidos de padel. Nuestra misión es que seas mejor que ayer.</p>
    </section>

    <section id="servicios">
        <h2>Nuestros Servicios</h2>
        <div class="servicio">
            <h3>Servicio 1</h3>
            <p>Descripción breve del servicio 1.</p>
        </div>
        <div class="servicio">
            <h3>Servicio 2</h3>
            <p>Descripción breve del servicio 2.</p>
        </div>
        <!-- Puedes añadir más servicios aquí -->
    </section>
</body>
</html>
